:ruby
  header(:header_title, "Donate")
  header(:right_col, render(:partial => 'shared/donate/in_this_section'))
  header(:breadcrumb, breadcrumb('Donate'))


%h1 Making a Donation to CRI

%p
  = "Currently we are in the process of building a tool to allow you to donate to Child Refuge International online. If you would like to donate now, please #{link_to 'Contact Us', contact_path} or send a check to:".html_safe
  
%p.prepend-1
  Child Refuge International
  %br
  P.O. Box 162
  %br
  Naches, WA 98937

