:ruby
  header(:header_title, "Frequently Asked Questions")

  header(:right_col, render(:partial => 'shared/about/in_this_section'))
  header(:breadcrumb, breadcrumb('About','Frequently Asked Questions'))

%h1 Frequently Asked Questions

%dl.faq
  %dt
    Question
  %dd
    = image_tag 'transparent.gif', :class => :curve_arrow, :alt => '=>'
    Answer

  %dt
    Question
  %dd
    = image_tag 'transparent.gif', :class => :curve_arrow, :alt => '=>'
    Answer

