staging_backups
config/keys.yml
restart
stop
.bundle
log/*.log
tmp/**/*
*.todo
WTF/*
.sass-cache/
app/assets/shared/team_members
app/assets/images/blog
app/assets/images/sprites/homepage-*.png
app/assets/images/sprites/layout-*.png
app/assets/images/sprites/sprite-*.png