:ruby
  header(:header_title, "#{@context.context_type.humanize}")
  header(:right_col, render(:partial => 'blog/blogs/index/other_articles'))
  header(:breadcrumb, breadcrumb('Projects'))

%section#blogs_index
  - if @blogs.empty?
    %strong
      We're sorry, but no projects currently exist. Please check back soon as this issue is temporary.

  - else
    = render :partial => 'blog/blogs/index/blog', :collection => @blogs

%hr.space
= will_paginate @blogs, :params => {:context => @context.terse_route}

- if @context.present? && can?(:create, Blog)
  %hr.space
  = link_to "Create A New Project Blog", construct_blog_path(nil, :new, @context), :class => :button

