
= link_to_unless section?(:homepage), image_tag('transparent.gif', :id => 'cri_logo', :alt => 'Child Refuge International'), main_app.root_path

= render :partial => 'layouts/application/link_farm', :locals => {:for_section => :header}
