:ruby
  links = [
    [main_app.donate_path, 'Make a Donation'],
    [main_app.why_give_path, 'Why Give']
  ]

%nav
  %header
    %h3 In This Section

  %section
    %ul
      - links.each do |(path, name)|
        - selected = current_page?(path)
        %li{:class => ('selected' if selected)}
          = image_tag 'transparent.gif', :class => (selected ? :curve_arrow_white : :curve_arrow), :alt => '=>'
          = link_to_unless selected, name, path

