/* line 17, ../../../../../Users/younker/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Users/younker/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Users/younker/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Users/younker/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Users/younker/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Users/younker/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Users/younker/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Users/younker/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../Users/younker/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

@font-face {
  font-family: 'DroidSerifRegular';
  src: url("/assets/fonts/DroidSerif-Regular-webfont.eot");
  src: url("/assets/fonts/DroidSerif-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/DroidSerif-Regular-webfont.woff") format("woff"), url("/assets/fonts/DroidSerif-Regular-webfont.ttf") format("truetype"), url("/assets/fonts/DroidSerif-Regular-webfont.svg#DroidSerifRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSerifItalic';
  src: url("/assets/fonts/DroidSerif-Italic-webfont.eot");
  src: url("/assets/fonts/DroidSerif-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/DroidSerif-Italic-webfont.woff") format("woff"), url("/assets/fonts/DroidSerif-Italic-webfont.ttf") format("truetype"), url("/assets/fonts/DroidSerif-Italic-webfont.svg#DroidSerifItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSerifBold';
  src: url("/assets/fonts/DroidSerif-Bold-webfont.eot");
  src: url("/assets/fonts/DroidSerif-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/DroidSerif-Bold-webfont.woff") format("woff"), url("/assets/fonts/DroidSerif-Bold-webfont.ttf") format("truetype"), url("/assets/fonts/DroidSerif-Bold-webfont.svg#DroidSerifBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSerifBoldItalic';
  src: url("/assets/fonts/DroidSerif-BoldItalic-webfont.eot");
  src: url("/assets/fonts/DroidSerif-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/DroidSerif-BoldItalic-webfont.woff") format("woff"), url("/assets/fonts/DroidSerif-BoldItalic-webfont.ttf") format("truetype"), url("/assets/fonts/DroidSerif-BoldItalic-webfont.svg#DroidSerifBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 14, scss/partials/_layout.scss */
body {
  background-color: black;
}
/* line 17, scss/partials/_layout.scss */
body > header {
  height: 240px;
  background: url(/assets/static/layout/header-bg.jpg) 0 0 repeat #9f9f9f;
  border-top: solid 5px #103d63 !important;
}
/* line 22, scss/partials/_layout.scss */
body > header .container {
  height: 100%;
  position: relative;
}
/* line 26, scss/partials/_layout.scss */
body > header .container img#cri_logo {
  background: url('/assets/sprites/layout-s6fde65c191.png') 0 -20px no-repeat !important;
  height: 167px;
  width: 257px;
  position: absolute;
  top: 36px;
  left: 0px;
}
/* line 35, scss/partials/_layout.scss */
body > header .container > ul {
  position: absolute;
  top: 133px;
  left: 328px;
}
/* line 40, scss/partials/_layout.scss */
body > header .container > ul li {
  margin-right: 3em;
}
/* line 48, scss/partials/_layout.scss */
body > footer {
  color: #d6d6d6;
  background-color: black;
  text-align: center;
}
/* line 53, scss/partials/_layout.scss */
body > footer a {
  margin: 0 .5em;
  color: #f0f0f0 !important;
  text-decoration: none;
}
/* line 59, scss/partials/_layout.scss */
body > footer p {
  margin-bottom: 2em;
}
/* line 64, scss/partials/_layout.scss */
body > footer#top {
  text-align: left;
  height: 210px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #092237), color-stop(100%, #103d63));
  background-image: -webkit-linear-gradient(#092237, #103d63);
  background-image: -moz-linear-gradient(#092237, #103d63);
  background-image: -o-linear-gradient(#092237, #103d63);
  background-image: -ms-linear-gradient(#092237, #103d63);
  background-image: linear-gradient(#092237, #103d63);
  border-bottom: solid 5px #4e5c67;
}
/* line 71, scss/partials/_layout.scss */
body > footer#bottom {
  font-size: .9em;
}
/* line 73, scss/partials/_layout.scss */
body > footer#bottom ul {
  margin: .5em auto;
  line-height: 2em;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../Users/younker/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
body > footer#bottom ul {
  *display: inline;
}

/* line 82, scss/partials/_layout.scss */
nav.banner {
  height: 302px;
  background: url(/assets/static/layout/paisley-bg.jpg) 0 0 repeat #9f9f9f;
}

/* line 89, scss/partials/_layout.scss */
section#breadcrumbC {
  min-height: 30px;
  background-color: #103d63;
  color: #f0f0f0;
  border-bottom: solid 5px #4e5c67;
  line-height: 66px;
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: 'DroidSerifRegular', Georgia, serif;
  text-shadow: #02070b, "2px 2px 1px";
}

/* line 101, scss/partials/_layout.scss */
section#contentC {
  background-color: #f0f0f0;
  padding: 2em 0;
}

/* line 107, scss/partials/_layout.scss */
body > header ul, footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'DroidSerifRegular', Georgia, serif;
}
/* line 114, scss/partials/_layout.scss */
body > header ul li, footer ul li {
  float: left;
  margin-right: .5em;
}
/* line 118, scss/partials/_layout.scss */
body > header ul li.last, footer ul li.last {
  margin-right: 0;
}
/* line 124, scss/partials/_layout.scss */
body > header ul.header li.selected, footer ul.header li.selected {
  border-bottom: solid 4px #103d63;
  padding-bottom: 4px;
}

/* line 133, scss/partials/_layout.scss */
img.curve_arrow, img.curve_arrow_white {
  height: 9px;
  width: 9px;
  vertical-align: baseline;
}

/* line 138, scss/partials/_layout.scss */
img.curve_arrow {
  background: url('/assets/sprites/layout-s6fde65c191.png') 0 0 no-repeat !important;
}

/* line 139, scss/partials/_layout.scss */
img.curve_arrow_white {
  background: url('/assets/sprites/layout-s6fde65c191.png') 0 -10px no-repeat !important;
}

/* line 1, scss/partials/_forms.scss */
label {
  display: block;
}

/* line 1, scss/partials/_overlay_modal.scss */
#basic-modal-content {
  display: none;
}

/* Overlay */
/* line 6, scss/partials/_overlay_modal.scss */
#simplemodal-overlay {
  background-color: #000;
  cursor: wait;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: .70;
  filter: alpha(opacity=70);
  -moz-opacity: 0.70;
  -khtml-opacity: 0.70;
}

/* Container */
/* line 25, scss/partials/_overlay_modal.scss */
#simplemodal-container {
  color: #777;
  border: 1px solid #c0bfbf;
  padding: 20px 30px 30px;
  background-color: #fcfcfc;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-box-shadow: 0px 3px 5px #333;
  -webkit-box-shadow: 0px 3px 5px #333;
  box-shadow: 0px 3px 5px #333;
}

/*#simplemodal-container .simplemodal-data { padding : 8px; }*/
/* line 39, scss/partials/_overlay_modal.scss */
#simplemodal-container code {
  background: #141414;
  border-left: 3px solid #65B43D;
  color: #bbb;
  display: block;
  font-size: 12px;
  margin-bottom: 12px;
  padding: 4px 6px 6px;
}

/* line 48, scss/partials/_overlay_modal.scss */
#simplemodal-container a {
  /*  color : #ddd;*/
}

/* line 51, scss/partials/_overlay_modal.scss */
#simplemodal-container a.modalCloseImg {
  background: url(/images/close_button.png) no-repeat scroll 0px 0px transparent;
  width: 33px;
  height: 33px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -14px;
  right: -25px;
  cursor: pointer;
}

/* line 62, scss/partials/_overlay_modal.scss */
#simplemodal-container h3 {
  color: #84b8d9;
}

/* line 3, scss/partials/_growl.scss */
#growlcontainer {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  font-size: 1.1em;
  width: 400px;
}
/* line 11, scss/partials/_growl.scss */
#growlcontainer ol li {
  list-style: decimal inside none;
}
/* line 15, scss/partials/_growl.scss */
#growlcontainer .growlwithicon {
  padding-left: 50px;
}
/* line 18, scss/partials/_growl.scss */
#growlcontainer h2 {
  color: #fff;
  font-size: 1.4em;
  border-bottom: 1px dotted #fff;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
/* line 25, scss/partials/_growl.scss */
#growlcontainer li {
  font-size: .9em;
  margin-bottom: 5px;
}

/* line 31, scss/partials/_growl.scss */
.growlstatus {
  position: relative;
  background: url(/assets/growl/opacity_60.png) repeat scroll 0px 0px transparent;
  border: 3px #000 solid;
  padding: 15px;
  color: #fff;
  margin-bottom: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 40, scss/partials/_growl.scss */
.growlstatus .growltitle {
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 45, scss/partials/_growl.scss */
.growlstatus .growlstatusclose {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
  background: transparent url(/assets/growl/close.png) no-repeat;
}
/* line 55, scss/partials/_growl.scss */
.growlstatus:hover {
  background-color: #000;
  border: 3px #666 solid;
}
/* line 59, scss/partials/_growl.scss */
.growlstatus:hover .growlstatusclose {
  display: block;
}

/* line 65, scss/partials/_growl.scss */
#growlicon {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 6px;
  left: 9px;
}
/* line 72, scss/partials/_growl.scss */
#growlicon.growlicon_notice {
  background-image: url(/assets/growl/notice.png);
}
/* line 75, scss/partials/_growl.scss */
#growlicon.growlicon_error {
  background-image: url(/assets/growl/error.png);
}

/* line 17, scss/partials/_buttons.scss */
button, input[type="submit"], input[type='button'], input.button, a.button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  letter-spacing: .03em;
  color: #848484;
  border-color: #9e9e9e #919191 #919191 #9e9e9e;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  font-size: 100%;
  font-weight: bold;
  line-height: 133%;
  padding: 4px 13px 4px 10px;
  margin: 0px;
  text-decoration: none;
  position: relative;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  text-shadow: 0 1px 0 white;
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #d1d1d1));
  background-image: -webkit-linear-gradient(#ffffff, #d1d1d1);
  background-image: -moz-linear-gradient(#ffffff, #d1d1d1);
  background-image: -o-linear-gradient(#ffffff, #d1d1d1);
  background-image: -ms-linear-gradient(#ffffff, #d1d1d1);
  background-image: linear-gradient(#ffffff, #d1d1d1);
}
/* line 7, ../../../../../Users/younker/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
button, input[type="submit"], input[type='button'], input.button, a.button {
  *display: inline;
}
/* line 37, scss/partials/_buttons.scss */
button:hover, input[type="submit"]:hover, input[type='button']:hover, input.button:hover, a.button:hover {
  background-color: #dedede;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #c4c4c4));
  background-image: -webkit-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -moz-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -o-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: -ms-linear-gradient(#f7f7f7, #c4c4c4);
  background-image: linear-gradient(#f7f7f7, #c4c4c4);
  color: #5e5e5e;
  border-color: #5e5e5e;
}
/* line 44, scss/partials/_buttons.scss */
button:active, input[type="submit"]:active, input[type='button']:active, input.button:active, a.button:active {
  background-color: #f2f2f2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #dedede));
  background-image: -webkit-linear-gradient(#f7f7f7, #dedede);
  background-image: -moz-linear-gradient(#f7f7f7, #dedede);
  background-image: -o-linear-gradient(#f7f7f7, #dedede);
  background-image: -ms-linear-gradient(#f7f7f7, #dedede);
  background-image: linear-gradient(#f7f7f7, #dedede);
  padding-top: 5px;
  padding-bottom: 3px;
}

/* line 2, scss/partials/_standard_dl_layout.scss */
dl {
  margin-bottom: 3em;
}
/* line 5, scss/partials/_standard_dl_layout.scss */
dl dt {
  float: left;
  margin-right: 2em;
  height: 175px !important;
}
/* line 10, scss/partials/_standard_dl_layout.scss */
dl dt img {
  float: left;
  border: solid 1px #103d63;
  height: 152px;
  width: 152px;
}
/* line 19, scss/partials/_standard_dl_layout.scss */
dl.team_member .contact_info {
  display: none;
}
/* line 26, scss/partials/_standard_dl_layout.scss */
dl dd h3 {
  font-size: 1.4em !important;
  font-weight: 600 !important;
  margin: 0 0 0.5em !important;
}
/* line 29, scss/partials/_standard_dl_layout.scss */
dl dd h3 a {
  font-size: 1.4em !important;
  font-weight: 600 !important;
  margin: 0 0 0.5em !important;
}
/* line 33, scss/partials/_standard_dl_layout.scss */
dl dd h3 a.edit {
  font-family: helvetica;
  font-size: .6em;
  font-weight: 300;
}
/* line 40, scss/partials/_standard_dl_layout.scss */
dl dd h4 {
  color: #4e5c67 !important;
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 0 0.5em;
}

/* line 3, scss/partials/_blog_show.scss */
#blog_show header h1 {
  font-size: 1.4em !important;
  font-weight: 600 !important;
  margin: 0 0 0.5em !important;
}
/* line 4, scss/partials/_blog_show.scss */
#blog_show header h4 {
  color: #4e5c67 !important;
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 0 0.5em;
}

/* line 3, scss/partials/_contact_form.scss */
#new_contactC {
  color: #f0f0f0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #103d63;
  padding: 30px;
}
/* line 10, scss/partials/_contact_form.scss */
#new_contactC h3 {
  color: #f0f0f0 !important;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 2em;
  padding-right: 15px;
}
/* line 18, scss/partials/_contact_form.scss */
#new_contactC h3, #new_contactC p {
  line-height: 1.8em;
}
/* line 22, scss/partials/_contact_form.scss */
#new_contactC textarea, #new_contactC input[type="email"], #new_contactC input[type="text"] {
  background-color: #f0f0f0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
}
/* line 28, scss/partials/_contact_form.scss */
#new_contactC .field {
  margin-bottom: 1em;
}
/* line 32, scss/partials/_contact_form.scss */
#new_contactC textarea {
  height: 150px;
}

/* line 2, scss/partials/_faq.scss */
#single_faq dl.faq {
  margin-top: 2em;
}
/* line 4, scss/partials/_faq.scss */
#single_faq dl.faq dt {
  float: none;
  height: auto !important;
  font-size: 1.2em;
  margin-bottom: .5em;
}
/* line 11, scss/partials/_faq.scss */
#single_faq dl.faq dd {
  margin-bottom: 3em;
}

/* line 16, scss/application.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: .08em;
  font-size: 12px;
  line-height: 1.5em;
}

/* line 24, scss/application.scss */
body * {
  background-color: transparent;
}

/* line 28, scss/application.scss */
h1, h2, h3, h4, h5, h6 {
  color: #103d63 !important;
}

/* line 32, scss/application.scss */
h1 {
  font-size: 1.4em !important;
  font-weight: 600 !important;
  margin: 0 0 0.5em !important;
}

/* line 36, scss/application.scss */
p {
  margin: 1em 0;
  line-height: 1.6em;
}
/* line 40, scss/application.scss */
p a {
  font-weight: 500;
  text-decoration: underline !important;
}
/* line 44, scss/application.scss */
p a:hover {
  text-decoration: none !important;
}

/* line 50, scss/application.scss */
a {
  text-decoration: none !important;
  color: #103d63 !important;
}
/* line 54, scss/application.scss */
a:hover {
  text-decoration: underline;
}

/* line 61, scss/application.scss */
#right_col h3 {
  font-family: 'DroidSerifRegular', Georgia, serif;
  color: #4e5c67;
  font-size: 1.4em;
  margin: 0 0 1em 16px;
}
/* line 69, scss/application.scss */
#right_col ul li {
  line-height: 2.5em;
  padding-left: 30px;
  padding-right: 2em;
  font-family: 'DroidSerifBoldItalic', Georgia, serif;
}
/* line 75, scss/application.scss */
#right_col ul li.selected {
  font-family: 'DroidSerifItalic', Georgia, serif;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #103d63;
  color: #f0f0f0;
  margin-left: 5px;
  padding-left: 10px;
}
/* line 7, ../../../../../Users/younker/.rvm/gems/ruby-1.8.7-p352/gems/compass-0.11.3/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#right_col ul li.selected {
  *display: inline;
}
/* line 85, scss/application.scss */
#right_col ul li a:hover {
  color: #4e5c67 !important;
  text-decoration: underline !important;
}
/* line 90, scss/application.scss */
#right_col ul li img.curve_arrow {
  margin-left: -14px;
}

/* line 98, scss/application.scss */
div.pagination {
  text-align: center;
}

/* line 12, scss/partials/_homepage.scss */
#single_homepage nav.banner .container {
  position: relative;
  height: 100%;
}
/* line 16, scss/partials/_homepage.scss */
#single_homepage nav.banner .container header {
  font-size: 3.8em;
  margin: 77px 0 23px 0;
  line-height: 1.5em;
  width: 725px;
  font-family: 'DroidSerifItalic', Georgia, serif;
  text-shadow: #f0f0f0 1px 1px 1px;
}
/* line 25, scss/partials/_homepage.scss */
#single_homepage nav.banner .container > img#child {
  background: url('/assets/sprites/homepage-s31e61b8757.png') 0 -17px no-repeat !important;
  height: 301px;
  width: 298px;
  position: absolute;
  top: 1px;
  right: 10px;
}
/* line 37, scss/partials/_homepage.scss */
#single_homepage #homepage_contentC {
  margin: 33px 0;
}
/* line 40, scss/partials/_homepage.scss */
#single_homepage #homepage_contentC .icon {
  float: left;
  margin-right: 19px;
}
/* line 44, scss/partials/_homepage.scss */
#single_homepage #homepage_contentC .icon.body {
  background: url('/assets/sprites/homepage-s31e61b8757.png') 0 0 no-repeat !important;
  width: 17px;
  height: 17px;
}
/* line 49, scss/partials/_homepage.scss */
#single_homepage #homepage_contentC .icon.folder {
  background: url('/assets/sprites/homepage-s31e61b8757.png') 0 -364px no-repeat !important;
  width: 22px;
  height: 15px;
}
/* line 54, scss/partials/_homepage.scss */
#single_homepage #homepage_contentC .icon.notepad {
  background: url('/assets/sprites/homepage-s31e61b8757.png') 0 -378px no-repeat !important;
  width: 22px;
  height: 22px;
}
/* line 61, scss/partials/_homepage.scss */
#single_homepage #homepage_contentC h3 {
  font-family: 'DroidSerifRegular', Georgia, serif;
  font-size: 1.45em;
  margin-bottom: 20px;
}
/* line 68, scss/partials/_homepage.scss */
#single_homepage #homepage_contentC img.wwa_img {
  height: 150px;
  width: 293px;
  border: solid 1px #103d63;
  margin-bottom: 20px;
}
/* line 75, scss/partials/_homepage.scss */
#single_homepage #homepage_contentC img.cp_img {
  max-height: 150px;
  max-width: 293px;
  border: solid 1px #103d63;
  margin-bottom: 20px;
}
/* line 82, scss/partials/_homepage.scss */
#single_homepage #homepage_contentC img#who_we_are {
  background: url('/assets/sprites/homepage-s31e61b8757.png') 0 -400px no-repeat !important;
}
/* line 87, scss/partials/_homepage.scss */
#single_homepage #homepage_contentC p {
  font-weight: 500;
  line-height: 2.2em;
  padding-right: 13px;
  margin-bottom: 1em;
}
/* line 95, scss/partials/_homepage.scss */
#single_homepage #homepage_contentC ul li {
  font-weight: 500;
  line-height: 3em;
}
